<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amar.employeestestapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmployeesTestApp">
        <activity
            android:name=".view.activity.EmployeeListActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.EmployeesTestApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.EmployeeDetailActivity"
            android:parentActivityName=".view.activity.EmployeeListActivity"
            android:theme="@style/Theme.EmployeesTestApp.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amar.employeestestapp.view.activity.EmployeeListActivity" />
        </activity>
    </application>

</manifest>